.About {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  justify-items: center;
  align-items: center;
  height: 700px;
  background: #ecf0f1;
}

.aboutImage {
  /* margin-top: 20px;
  margin-right: 30px; */
  background-image: url('../assets/selfie.JPG');
  background-size: cover;
  margin: 0;
  width: 400px;
  height: 400px;
  /* background: #ff5d5d; */
  box-shadow: 2px 2px 5px #323643;
}

.blurb {
  /* width: 600px; */
  font-size: 24px;
  padding-left: 10px;
  padding-right: 10px;
  color: #323643;
}

@media (max-width: 800px) {
  .blurb {
    font-size: 16px;
  }
  .aboutImage {
    margin-top: 20px;
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 600px) {
  .About {
    height: 600px;
  }
  .blurb {
    width: 350px;
  }
}