.About {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  justify-items: center;
  align-items: center;
  height: 500px;
  background: #ecf0f1;
}

.aboutImage {
  width: 300px;
  height: 300px;
  background: #ff5d5d;
  box-shadow: 2px 2px 5px #323643;
}

.blurb {
  width: 600px;
  font-size: 24px;
  margin-right: 20px;
  margin-left: 20px;
}

@media (max-width: 800px) {
  .blurb {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .About {
    height: 600px;
  }
  .blurb {
    width: 350px;
  }
}