.contactContainer {
  display: flex;
  flex-direction: column;
  width: 75vw;
  align-items: flex-start;
  height: 400px;
  justify-content: center;
  margin: 0 auto;
  background: #646a80;
  color: white;
}

.email {
  margin-left: 25%;
  align-self: flex-start;
}

.socialLinks {
  margin-right: 25%;
  align-self: flex-end;
  color: white;
}

.socialLinks > a {
  align-self: center;
  margin-left: 10px;
}
