.Header {
  display: grid;
  background: linear-gradient(#f8b195, #f67280);
  height: 600px;
  margin-top: 0;
  justify-content: center;
  align-content: center;
  font-size: 32px;
}

.headText {
  width: 600px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  font-weight: 700;
  color: #323643;
  border: 10px solid #323643;
  /* text-shadow: 2px 4px 3px rgba(0,0,0,0.3); */
  box-shadow: 2px 4px 3px rgba(0,0,0,0.3);

}

.headText h1 {
  margin-bottom: 0;
}

@media (max-width: 401px) {
  .headText {
    width: 300px;
  }
}