.Header {
  display: grid;
  grid-template-rows: 1fr 1fr;
  background: linear-gradient(#f8b195, #f67280);
  height: 100vh;
  margin-top: 0;
  justify-items: center;
  align-items: center;
  font-size: 32px;
}

.headText {
  /* width: 600px; */
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  align-self: end;
  font-weight: 700;
  color: #323643;
  border-bottom: 10px solid #323643;
  /* box-shadow: 0px 0px 10px rgba(0,0,0,0.3); */
}

.headBlurb {
  align-self: start;
  width: 50%;
  color: #323643;
  font-weight: 700;
}

.headText h1 {
  margin-bottom: 0;
}

@media (max-width: 450px) {
  .headText {
    width: 300px;
  }
}