.techContainer {
  height: 500px;  
}

.techList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 50px;
  justify-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.techItem {
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: center;
  height: 200px;
  background: #ecf0f1;
  width: 200px;
  margin-top: 50px;
  box-shadow: 3px 4px 10px #323643;
}

