/* .techContainer {
} */

.techList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: 1fr;
  grid-gap: 30px;
  justify-items: center;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.techItem {
  font-size: 24px;
  display: grid;
  align-items: center;
  /* height: 250px; */
  margin-top: 0px;
  margin-left: 10px;
  margin-right: 10px;
  color: #c2c5cf;
}

.techItem > p {
  margin-top: 0;
}

@media (max-width: 950px) {
  .techList {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .techList {
    grid-template-columns: 1fr;
  }
}